dialog{
    width: 100%;
    max-width: 300px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    padding: 0;
}
dialog .dialogHeader{
    height: 20px;
    border-bottom: 2px solid black;
}
dialog .dialogHeader h3{
    font-size: 15px;
    text-align: center;
    color: rgb(63, 60, 60);
}
dialog .dialogdropdown{
    width: 100%;
    height: 50px;
    box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-start;
    padding-left:10px ;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
dialog .dialogdropdown input{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
    height: 22px;
    border-radius: 10px;
    padding-left: 15px;
}